#map {
    height: 100%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#layer-place {
    position: fixed;
    z-index: 1;
    right: 20px;
    top: 70px;
    width: 400px;
    font-size: 10px !important;
}
#layer-place .card-header h4 {
    margin: 0;
    padding: 0;
}

#layer-chart {
    position: fixed;
    z-index: 1;
    left: 20px;
    /* top: 100px; */
    width: 500px;
    bottom: 10px;
    display: none;
}
#layer-chart .card-body {
    padding: 0;
}
#layer-place ul {
    max-height: 200px;
    overflow-x: hidden;
}
.bar-chart-modal .modal-dialog {
    max-width: 1000px;
}
.btn-tempat {
    cursor: pointer;
}
#layer-place .list-group .active a {
    color: #ecf0f1;
}
#layer-meta {
    position: fixed;
    z-index: 1;
    left: 20px;
    top: 70px;
    display: none;
    font-size: 10px !important;
}
#layer-meta .card-body {
    padding: 0;
}
#layer-visits {
    position: fixed;
    z-index: 1;
    right: 20px;
    bottom: 10px;
    font-size: 10px !important;
}
#layer-visits .card-body {
    padding: 0;
}